body{
    width:88%;
    height:80%;
    border: solid#33ffff;
    background:#cccccc;
    border-radius: 5px;
    margin: auto;
    
}
h1{

    display: inline;
    padding-top: 10px;
    padding-left: 40px;
}

#logo{
    float: left;



}
#cajas{
    margin-left: 10px;
    margin-right: 10px;
    padding:0px;
    padding-left: 700px;
    padding-top:0px;

}


label{

    font-size: 20px;
    padding-top: 7px;


}
p{
    position: absolute;
    padding-top: 0px;
    top: 160px;
     padding-left: 55%;
 

    width: 100%;
    font-size: 20px;


}


#cliente{
    padding-left: 800px;
    padding-right: 50px;
    float: right;
    margin-top: 0px;
    float: top;
    position:absolute;




}
h2{
    margin-top:20px;
    font-size: 20px;
}

#datos{
    padding-bottom: 20px;
    padding-top: 0px;
}
#button{
    position: absolute;
    padding-top: 53px;
    top: 330px;
    padding-left: 75%;
    width: 50%;
    font-size: 20px;

}
#imagen{
    position: absolute;
    padding-top: 53px;
    top: 330px;
    padding-left: 82%;
    width: 50%;
    font-size: 20px; 
}
.table-bordered{
   
   
    margin-bottom:  100px;
}

#imagen2{
    position: absolute;
    padding-top: 9%;
    padding-left: 50%;
  
   
    
}


#imagen3{
     position: absolute;
    padding-top: 9%;
    padding-left:60%;
   
}
#imagen4{
      position: absolute;
    padding-top: 9%;
    padding-left:70%;
}
#total{
    position: absolute;
    padding-top: 10%;
   
    padding-left: 76%;
}